@import url(//fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Gelasio|Kulim+Park|Nanum+Myeongjo|Nanum+Gothic|Noto+Sans|Noto+Sans+KR|Roboto&display=swap');
@import url(syntax/monokai.css);

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Roboto", "Nanum Gothic";
  --font-family-serif: "Nanum Myeongjo";
}

* {
	box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'arial';
	color: #e2e2e285;/* ---------- */
}

a {
	text-decoration: none;
	color: #007bff;
	background-color: transparent;
}

a:hover {
	text-decoration: none;/* ---------- */
}

pre {
	display: block;
	overflow: auto;
	margin-bottom: 15px;
	padding-bottom: 10px;
	padding: 5px;
	line-height: 1.2;
}

code {
	font-family: "Menlo", "Consolas", monospace;
	font-size: 0.8em;
	margin: 0px;
}

.container {
	min-height: 100%;
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
}

.content {
	/*margin-left: 180px;*/
	flex: 1 1 auto;
	padding: 0px 30px;
	background-color: #030c18f3;/* ---------- */
}

.sidebar {
	/*position: fixed;*/
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 220px;
	padding: 15px;
	z-index: 1;
	background-color: #000511;
}

.sidebar-item {
	display: block;
}

.sidebar ul {
	list-style-type: none;
	padding-inline-start: 0px;
}

.sidebar-brand > a {
	font-size: 300%;
	font-family: 'Gelasio';
	color: #48ff00;
}

.lead {
	font-size: 120%;
	color: rgba(251, 255, 0, 0.342);
}

.sidebar-header {
	margin-bottom: 45px;/* ---------- */
}

.sidebar-nav {
	margin-top: 5px;/* ---------- */
}

.nav-title {
	font-size: 110%;/* ---------- */
	font-family: "Noto Sans";
	text-transform: uppercase;
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
	color: #6783ff;/* ---------- */
	font-weight: bold;/* ---------- */
}

a.nav-item {
	font-size: 100%;/* ---------- */
	font-family: "Noto Sans";
	text-transform: capitalize;
	color: white;/* ---------- */
}

a.nav-item:hover { 
	color: rgb(255, 220, 65); /* ---------- */
	text-decoration: none;/* ---------- */
}

.badge { font-size: 70%; }
.badge::before { content: "("; }
.badge::after { content: ")"; }

.post-list > li {
	color: rgb(255, 220, 65);/* ---------- */
}

.post-link {
	margin-left: 10px;
	font-size: 110%;
	color: rgb(50, 225, 118);/* ---------- */
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter, article .share .twitter:hover {
	color: #00ACEE;
	border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
	color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
	color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
	color: #CC2127;
}
#contact-list li:hover .fa-rss {
	color: #e74c3c;
}
#contact-list-secondary {
	padding-bottom: 10px;
}

article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

.page-header {
	color: #e74c3c;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

article {
	padding: 0 5% 0;
	font-size: 17px;
	margin-bottom: 30px;/* ---------- */
	line-height: 1.9;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

blockquote {
	color: #828282;
  	border-left: 4px solid #ccc;
  	padding-left: 10px;
  	margin: 0;
  	margin-bottom: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

article h1{
	font-family: "Roboto", "Nanum Gothic";
	color: #fd7272;/* ---------- */
  	margin-bottom: 0;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	color: #f2756a;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	color: #e74c3c;
}

header.post-header {
	padding: 40px 0px 5px 0px;/* ---------- */
	margin-bottom: 30px;
	border-bottom: 1px solid #db5f5f;
	text-align: center;
}

header.home {
	text-align: left;
}

.post-title {
	font-size: 1.5em;
	color: var(--warning);/* ---------- */
	font-weight: bold;
	text-align: center;
}

.post-date {
	text-transform: uppercase;
	color: #858585;/* ---------- */
	letter-spacing: 1px;
	font-size: 0.8em;
	display: inline-block;
	width: 80px;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

.sidebar-footer {
	margin-top: 80px;
	font-size: 0.75em;
	font-weight: lighter;
	font-family: "Roboto";
	line-height: 1.5;
}

.sidebar-footer a {
	color: #fc7a7a;
}


@media (max-width: 576px) {
	article {
		font-size: 0.9em;
		line-height: 1.5;
		padding: 0 5% 0;
	}

	.content {
		padding: 0px;
		background-color: #030c18f3;/* ---------- */
	}
	.container {
	    flex-direction: column;
	}

	.sidebar {
		font-size: 0.8em;
		flex: 0 0 auto;
		flex-flow: row nowrap;
		height: auto;
	}

	.sidebar-nav {
		margin: 0px;
		padding: 0 2%;/* ---------- */
	}

	.sidebar-item {
		flex: 1 1 auto;
	}

	.sidebar-header {
		margin-bottom: 0px;
	}

	.sidebar-footer {
		flex: 0 0 0px;
		visibility: hidden;
		display: none;
	}
	.highlighter-rouge{font-size: xx-small;}
}

/* more styles */
table{width: 100%;}
th{color: #00ACEE; font-size: 20px;}
th,td {border-bottom: 1px solid rgba(201, 201, 201, 0.212) ;}
table td:nth-child(1) {
    color: rgba(172, 172, 172, 0.808); 
}

.log {
	width:90%;
	text-align:center
}

strong{color: hsl(357, 97%, 64%);}

h2 {color: #e7db70;}
h3 {color: #68d377; margin-top: 5%;}
h4 {color: #b870e2;}
h5 {color: #74cec2;}
h6 {color: #6896d3;}

.reeasy{color: #58f765e3;}
.easy{color: #47b450;}
.medium{color: #c2a851e1;}
.hard{color: #c25151e1;}

/* //////////////////////////////////// */
	/* code */
.highlighter-rouge{
	color: #858585ce;
	background: #7474742d;
	border-radius: 15px;
	padding: 0  0.5%;} 
	/* text numeracion */
.post-content {
	color: rgba(251, 255, 0, 0.856);} 
	/* subs text numer*/
em { 
	color:hsla(88, 57%, 60%, 0.918);} 
/* //////////////////////////////////// */

.margin {margin-bottom: 3%;margin-top: 1%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}


p>a>em {color: rgba(85, 85, 85, 0.349);}